@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Department of Employment and Social Protection</h1>
    <p> This website is for the management of all DEASP and OPW work approval and funding requests </p>
</div>

<!-- Section: intro -->
<section id="intro" class="intro">
    <div class="intro-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
                        <h2 class="h-ultra">The Department of Employment and Social Protection (DEASP)</h2>
                    </div>
                    <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.1s">
                        <h4 class="h-light">Request for the provision of <span class="color">Elective Funds</span> for OPW projects</h4>
                    </div>
                    <div class="well well-trans">
                        <div class="wow fadeInRight" data-wow-delay="0.1s">

                            <ul class="lead-list">
                                <li><span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong>This site is to be used for </strong><br /></span></li>
                                <li><span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong>1. The Request for approval / funds for building works by OPW staff</strong><br /></span></li>
                                <li><span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong>2. The Approval of work requests by FMU Accommodation staff</strong><br /></span></li>
                                <li><span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong>3. The Approval of Funding by FMU Finance staff</strong><br /></span></li>
                            </ul>

                        </div>
                    </div>


                </div>
                <div class="col-lg-6">
                    <div class="form-wrapper">
                        <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">

                            <div class="panel panel-skin">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span class="fa fa-pencil-square-o"></span>Login - OPW Works Approvals and Funding requests <small></small></h3>
                                </div>
                                <div class="panel-body">
                                    <form role="form" class="lead">
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label>First Name</label>
                                                    <input type="text" name="first_name" id="first_name" class="form-control input-md">
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label>Last Name</label>
                                                    <input type="text" name="last_name" id="last_name" class="form-control input-md">
                                                </div>
                                            </div>
                                        </div>

                                        <p>
                                            <input type="submit" value="Submit" class="btn btn-primary btn">
                                            <a href="FMU-Finance@welfare.ie" class="btn btn-primary btn">Register Now </a>
                                        </p>
                                                                                
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- /Section: intro -->
<div class="row">
    <div class="col-md-4">
        <h2>OPW Help Desk</h2>
        <p>
            All DEASP building work requests should in the first instance be submitted to the OPW help desk.
            Tel: (046) 942 6000 / 0761 10 6000 LoCall: 1890 213 414 Fax: (046) 948 1793 Email: 
        </p>
        <p><a class="btn btn-default" href="https://info@opw.ie">OPW HelpDesk &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact the OPW</h2>
        <p>The following is a lik to the OPW contact list</p>
        <p><a class="btn btn-default" href="https://www.opw.ie/en/media/opw-telephone-directory-29032018.pdf">OPW Contacts &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>DEASP Facilities Management Contacts</h2>
        <p>The Department of Employment and social Protections Facilites Management unit is split in four destinct operational sections. click below</p>
        <p><a class="btn btn-default" href="http://www.welfare.ie/en/Pages/Management-Board.aspx">FMU Contacts &raquo;</a></p>
    </div>
</div>